/* Colors */
/* Font-Size */
/* Font-Family */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Montserrat"; }

/* ------ Mobile ------ */
@media screen and (max-width: 768px) {
  .menu {
    background-color: #ffffff; }
    .menu__wrapper {
      background-color: white;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 16px 96px;
      border-bottom: solid 1px #E6E3DC;
      justify-content: center; }
    .menu__logo {
      height: 40px; }
    .menu__navbar {
      display: none; }
  .footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FDFDFB; }
    .footer__content {
      text-align: center;
      width: 100%;
      font-size: 12px;
      color: #baa496;
      padding: 24px; } }

/* ------ Desktop ------ */
@media screen and (min-width: 768px) {
  .menu {
    background-color: blue; }
    .menu__wrapper {
      background-color: white;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 16px 96px;
      border-bottom: solid 1px #E6E3DC;
      justify-content: space-between; }
    .menu__logo {
      height: 48px; }
    .menu__navbar {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 24px; }
    .menu__item {
      text-decoration: none;
      font-size: 14px;
      color: #564a49; }
      .menu__item:hover {
        text-decoration: underline;
        color: #8c907a; }
    .menu__btn-contato {
      color: white;
      background-color: #8C907A;
      padding: 16px 24px;
      border: #8C907A 2px solid;
      border-radius: 6px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      font-size: 14px;
      text-decoration: none; }
      .menu__btn-contato:hover {
        background-color: #6D725A;
        color: white;
        border: #6D725A 2px solid;
        box-sizing: border-box;
        cursor: pointer; }
  .footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FDFDFB; }
    .footer__content {
      text-align: center;
      width: 100%;
      font-size: 12px;
      color: #baa496;
      padding: 24px; } }

/* Colors */
/* Font-Size */
/* Font-Family */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Montserrat"; }

/*-----Mobile-----*/
@media screen and (max-width: 480px) {
  .services-page .main .main-image__desktop {
    display: none; }
  .services-page .main .main-image__mobile {
    width: 100%; }
  .services-page .main .services {
    padding: 24px; }
    .services-page .main .services .services-title {
      padding: 16px 0px 40px 0px;
      display: flex;
      flex-direction: column;
      gap: 24px; }
      .services-page .main .services .services-title__title {
        font-size: 32px;
        color: #564a49; }
      .services-page .main .services .services-title__subtitle {
        font-size: 14px;
        color: #baa496; }
    .services-page .main .services .services-cards {
      display: flex;
      flex-direction: column;
      gap: 24px; }
      .services-page .main .services .services-cards .scard {
        border: 1px solid;
        border-color: #E6E3DC;
        border-radius: 8px;
        padding: 32px;
        flex-direction: column; }
        .services-page .main .services .services-cards .scard__number {
          border: #E6E3DC 1px solid;
          width: 56px;
          height: 56px;
          border-radius: 8px;
          color: #8C907A;
          font-size: 16px;
          font-family: 'Montserrat', sans-serif;
          font-weight: 700;
          display: flex;
          justify-content: center;
          align-items: center; }
        .services-page .main .services .services-cards .scard__card-title {
          color: #8C907A;
          font-family: 'Montserrat', sans-serif;
          font-size: 24px;
          font-weight: 700;
          padding-top: 32px;
          padding-bottom: 8px; }
        .services-page .main .services .services-cards .scard__paragraph {
          font-size: 14px;
          font-family: 'Montserrat', sans-serif;
          font-weight: 400;
          color: #BAA496;
          line-height: 180%; }
    .services-page .main .services .solicitar-orcamento {
      margin: 24px 0px; }
      .services-page .main .services .solicitar-orcamento .btn-contato {
        width: 100%;
        color: white;
        background-color: #8c907a;
        padding: 16px 24px;
        border-radius: 4px;
        font-family: "Montserrat";
        font-size: 14px;
        border: none;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        justify-content: center; } }

/*-----Desktop-----*/
@media screen and (min-width: 481px) {
  .services-page .main .main-image__desktop {
    width: 100%; }
  .services-page .main .main-image__mobile {
    display: none; }
  .services-page .main .services {
    padding: 24px; }
    .services-page .main .services .services-title {
      padding: 16px 0px 40px 0px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 24px; }
      .services-page .main .services .services-title__title {
        font-size: 32px;
        color: #564a49;
        text-align: center; }
      .services-page .main .services .services-title__subtitle {
        font-size: 14px;
        color: #baa496;
        text-align: center; }
    .services-page .main .services .services-cards {
      display: flex;
      flex-direction: row;
      gap: 24px; }
      .services-page .main .services .services-cards .scard {
        border: 1px solid;
        border-color: #E6E3DC;
        border-radius: 8px;
        padding: 32px;
        flex-direction: column; }
        .services-page .main .services .services-cards .scard__number {
          border: #E6E3DC 1px solid;
          width: 56px;
          height: 56px;
          border-radius: 8px;
          color: #8C907A;
          font-size: 16px;
          font-family: 'Montserrat', sans-serif;
          font-weight: 700;
          display: flex;
          justify-content: center;
          align-items: center; }
        .services-page .main .services .services-cards .scard__card-title {
          color: #8C907A;
          font-family: 'Montserrat', sans-serif;
          font-size: 24px;
          font-weight: 700;
          padding-top: 32px;
          padding-bottom: 8px; }
        .services-page .main .services .services-cards .scard__paragraph {
          font-size: 14px;
          font-family: 'Montserrat', sans-serif;
          font-weight: 400;
          color: #BAA496;
          line-height: 180%; }
    .services-page .main .services .solicitar-orcamento {
      margin: 24px 0px;
      display: flex;
      justify-content: center; }
      .services-page .main .services .solicitar-orcamento .btn-contato {
        width: 240px;
        color: white;
        background-color: #8c907a;
        padding: 16px 24px;
        border-radius: 4px;
        font-family: "Montserrat";
        font-size: 14px;
        border: none;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        justify-content: center; } }
