/* Colors */
/* Font-Size */
/* Font-Family */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Montserrat"; }

/* ------ Mobile ------ */
@media screen and (max-width: 768px) {
  .menu {
    background-color: #ffffff; }
    .menu__wrapper {
      background-color: white;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 16px 96px;
      border-bottom: solid 1px #E6E3DC;
      justify-content: center; }
    .menu__logo {
      height: 40px; }
    .menu__navbar {
      display: none; }
  .menu-sandwich__list {
    list-style-type: none;
    padding: 8px; }
  .menu-sandwich__item {
    padding: 8px; }
  .menu-sandwich__link {
    text-decoration: none;
    font-size: 14px;
    color: #564a49; }
  .footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FDFDFB; }
    .footer__content {
      text-align: center;
      width: 100%;
      font-size: 12px;
      color: #baa496;
      padding: 24px; } }

/* ------ Desktop ------ */
@media screen and (min-width: 768px) {
  .menu {
    background-color: white; }
    .menu__wrapper {
      background-color: white;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 16px 96px;
      border-bottom: solid 1px #E6E3DC;
      justify-content: space-between; }
    .menu__logo {
      height: 48px; }
    .menu__navbar {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 24px; }
    .menu__item {
      text-decoration: none;
      font-size: 14px;
      color: #564a49; }
      .menu__item:hover {
        text-decoration: underline;
        color: #8c907a; }
    .menu__btn-contato {
      color: white;
      background-color: #8C907A;
      padding: 16px 24px;
      border: #8C907A 2px solid;
      border-radius: 6px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      font-size: 14px;
      text-decoration: none; }
      .menu__btn-contato:hover {
        background-color: #6D725A;
        color: white;
        border: #6D725A 2px solid;
        box-sizing: border-box;
        cursor: pointer; }
  .menu-sandwich {
    display: none; }
  .footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FDFDFB; }
    .footer__content {
      text-align: center;
      width: 100%;
      font-size: 12px;
      color: #baa496;
      padding: 24px; } }

/* Colors */
/* Font-Size */
/* Font-Family */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Montserrat"; }

.title {
  font-weight: 900; }

.btn .btn-primary {
  background-color: red; }
