@import "global.scss";
@import "tokens.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: $font-size-sm;
    font-family: $font-family-base;
}

.title {
    font-weight: 900;
}

.btn .btn-primary {
    background-color: red;
}
