@import "global.scss";
@import "tokens.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: $font-size-sm;
    font-family: $font-family-base;
}

#projetos {
    background-color: blue;
    display: flex;
    justify-content: center;
}

.container-projetos {
    width: 1440px;
    background-color: azure;
    display: flex;
    justify-content: center;

    .container {
        width: 100%;
        background-color: gainsboro;
        padding: 96px;
        display: flex;
        flex-direction: column;
        gap: 32px;

        &__title {
            font-size: $font-size-lg;
        }

        &__subtitle {
            font-size: $font-size-xs;
            font-weight: 400;
        }
    }
}